.*.swp
docker/Dockerfile
.vscode
prom/build/*
promhttp/build/*
promtest/build/*
tty.gif
ttyrecord
_CPack_Packages/
*deb
*tar.gz
*vgcore*
*.o
debian/.debhelper/
debian/tmp
debian/libprom
debian/debhelper-build-stamp
debian/files
