#!/usr/bin/make -f

include /usr/share/dpkg/default.mk

export DH_VERBOSE=1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
INSTALL_DIR := debian/tmp/usr/lib/$(DEB_BUILD_GNU_TYPE)

# Override makefile
override_dh_auto_install:
	install -m 755 -d $(INSTALL_DIR)
	install -m 755 prom/build/libprom.so $(INSTALL_DIR)
	install -m 755 promhttp/build/libpromhttp.so $(INSTALL_DIR)
	cd $(INSTALL_DIR) && \
		mv libprom.so libprom.so-$(DEB_VERSION_UPSTREAM) && \
		ln -s libprom.so-$(DEB_VERSION_UPSTREAM) libprom.so
	cd $(INSTALL_DIR) && \
		mv libpromhttp.so libpromhttp.so-$(DEB_VERSION_UPSTREAM) && \
		ln -s libpromhttp.so-$(DEB_VERSION_UPSTREAM) libpromhttp.so
%:
	dh $@
